<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="/styles/landing.css" type="text/css" />

  <link href="/styles/layout.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">



  <title>PasswordKeeper - Organization Settings</title>

</head>

<body>
  <main>
        <div>
          <h1><%=organization.org_name %></h1>

          <img class="logo-image" src="<%=organization.logo_url %>">

          <form id="submit-edit" method="POST" action="/organizations/<%=organization.organization_id %>">
            <div id="edit-org">
              <h3>Edit Organization Details</h3>
              <label for="orgName">Organization Name
                <input class="org-name" type="text" name="orgName" placeholder="Organization Name">
              </label>

              <label for="logo_url">Organization Logo Image URL
                <span>(auto resize to 300 x 300)</span>
                <input class="logo-url" type="text" name="logo_url" placeholder="http://">
              </label>

              <button type="submit">Edit</button>
            </div>
          </form>

          <form id="submit-user" method="POST" action="/organizations/<%= organization.organization_id %>?_method=PUT">
            <div id="new-user">
              <h3>Add Users</h3>
              <label for="email">User Email
              <input class="email-url" type="email" name="email" placeholder="User Email" required>
              </label>

              <button type="submit">Add</button>
            </div>
          </form>

          <table class="table">
            <thead>
              <tr>
                <th scope="col">User ID</th>
                <th scope="col">User Name</th>
                <th scope="col">User Email</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
              <% for (const user in users) { %>
              <tr>
                  <td><%= users[user].id %></td>
                  <td><%= users[user].name %></td>
                  <td><%= users[user].email %></td>
                  <td>
                  <% if (users[user].admin_privileges !== true)  { %>
                    <form class="del-user-confirm" method="POST" action="/organizations/<%= organization.organization_id %>/<%= users[user].id %>/delete?_method=DELETE">
                      <button type="submit" class="btn btn-outline-danger">Remove</button>
                    </form>
                  <% } %>
                  </td>
              </tr>
              <% } %>
            </tbody>
          </table>

          <form class="del-org-confirm" method="POST" action="/organizations/<%= organization.organization_id %>/delete?_method=DELETE">
            <h3>Delete Organization</h3>
            <button type="submit">Delete</button>
          </form>
        </div>
  </main>


  <footer>
    <a href="/organizations">
      <button type="submit">My Organizations</button>
    </a>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

  <script type="text/javascript" src="/scripts/organizations/helper.js"></script>
  <script type="text/javascript" src="/scripts/organizations/organization_edit.js"></script>
  <script type="text/javascript" src="/scripts/organizations/organization_user.js"></script>

</body>
</html>
