<!DOCTYPE html>
<html lang="en">
  <head>

    <%- include('../partials/_head') %>

    <title>PasswordKeeper - Organizations </title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  </head>

  <body>
      <%- include('../partials/_header') %>

    <main class="main-layout">
        <div class="container">
          
          <div class="org-header">
            <h1> My Organizations </h1>
            <a href = "/organizations/new"></a>
            <a type="submit" class="btn" id="new-add-btn" href="#add-org">New</a>
          </div>

          <div class="sites">
            <% for (const organization in organizations) { %>
              <div class="orgs-show">
                <div class="card text-center site-entry">

                  <form method="GET" action="/organizations/<%= organizations[organization].organization_id %>/sites">

                    <button type="submit" >
                      <div class="card-header">
                      <%= organizations[organization].name %>
                      </div>
                      <div>
                        <img class="logo-image" src="<%= organizations[organization].logo_url %>" alt="organization logo image" />
                      </div>

                      <div class="card-logo">
                        <%= organizations[organization].login_url %>
                      </div>
                    </button>

                  </form>
                </div>

               <% if (organizations[organization].admin_privileges) { %>
                <div class="setting-form">
                  <form method="GET" action="/organizations/<%= organizations[organization].organization_id %>">
                    <button type="submit" class="setting-button">Settings</button>
                  </form>
                </div>
               <% } %>
             </div>
            <% } %>
          </div>
        </div>
    </main>
    
    <div class="container-fluid" id='add-org'>
        <%- include('organizations_new') %>
    </div>

    <%- include('../partials/_footer_org') %>

  </body>
</html>
