<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="/styles/landing.css" type="text/css" />

  <link href="/styles/layout.css" rel="stylesheet" type="text/css">
  <link href="/styles/organization.css" rel="stylesheet" type="text/css">
  <link href="/styles/organization-setting.css" rel="stylesheet" type="text/css">
  <link href="/styles/header.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">



  <title>PasswordKeeper - Organization Settings</title>

</head>

<body>
  <%- include('../partials/header') %>
  <main>

        <div>
          <div class= "org-setting-header">
          <h1><%=organization.org_name %></h1>
          <img class="logo-image" src="<%=organization.logo_url %>">
          <div>
            <form method="POST" action="/organizations/<%= organization.organization_id %>/delete?_method=DELETE">
              <button type="submit" class="org-delete-btn">Delete Organization</button>
            </form>
          </div>

          </div>

          <hr>
          <div id="edit-org">
            <main class="add-main">
              <div>
                <h1>Edit Organization</h1>
                <div class="org-input">
                    <form id="submit-new" method="POST" action="/organizations/<%=organization.organization_id %>">
                      <div id="new-org">
                        <label for="name" class="org-url">
                          <p class="par-inp">
                            Organization Name:
                          </p>
                          <input class="logo-url" type="text" name="name" placeholder="Organization Name">
                        </label>
                      </div>
                      <div>
                        <label for="logo_url" class="org-url">
                          <div>
                            <p class="par-inp">
                              Organization Logo Image URL
                              (PNG & JPG Only):
                            </p>
                          </div>
                          <div>
                            <input class="logo-url" type="text" name="logo_url" placeholder="http://">
                          </div>
                        </label>
                      </div>

                      <div id="ord-btn">
                        <button type="submit" id="org-add-btn">Edit</button>
                      </div>


                    </form>
                    <hr>
                </div>
              </div>
          </main>
          </div>


          <form id="submit-user" method="POST" action="/organizations/<%= organization.organization_id %>?_method=PUT">
            <div id="new-user">
              <h1>Add Users</h1>
              <div id="add-user">
                <div>
                <label for="email" class="par-inp">User Email
                <input class="logo-url" type="email" name="email" placeholder="User Email" required>
                </label>
              </div>
              <div id="ord-btn">
                <button type="submit" id="org-add-btn">Add</button>
              </div>
              </div>


            </div>
          </form>
          <hr>

          <table class="table">
            <thead>
              <tr>
                <th scope="col">User ID</th>
                <th scope="col">User Name</th>
                <th scope="col">User Email</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
              <% for (const user in users) { %>
              <tr>
                  <td><%= users[user].id %></td>
                  <td><%= users[user].name %></td>
                  <td><%= users[user].email %></td>
                  <td>
                  <% if (users[user].admin_privileges !== true)  { %>
                    <form class="del-user-confirm" method="POST" action="/organizations/<%= organization.organization_id %>/<%= users[user].id %>/delete?_method=DELETE">
                      <button type="submit" class="btn btn-outline-danger">Remove</button>
                    </form>
                  <% } %>
                  </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
  </main>


  <footer>
    <a href="/organizations">
      <button type="submit">My Organizations</button>
    </a>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

  <script type="text/javascript" src="/scripts/organizations/helper.js"></script>
  <script type="text/javascript" src="/scripts/organizations/organization_edit.js"></script>
  <script type="text/javascript" src="/scripts/organizations/organization_user.js"></script>

</body>
</html>
