<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/_head') %>

    <title>PasswordKeeper - Organizations </title>
  </head>

  <body>
    <header>
      <nav>
        <div>
          LOGO
        </div>

        <div class='dropdown'>
          <button>
            Categories (icon)
          </button>
          <div class='dropdown-content'>
            <a href ='#'> Cat1</a>
            <a href ='#'> Cat2</a>
            <a href ='#'> Cat3</a>
          </div>
        </div>

        <div class='nav-right'>
          <div>Favourites Icon</div>
          <div>User_Email(tempVar)</div>
          <div>
            <form method="POST" action="/logout">
              <button type="submit">Log Out</button>
            </form>
          </div>
        </div>
      </nav>

    </header>

    <main>
      <h1> Organizations </h1>

  <% for (const organization in organizations) { %>
      <form method="GET" action="/organizations/<%= organizations[organization].organization_id %>/sites">
        <button type="submit">
          <div class='site'>
            <img src="<%= organizations[organization].image_url %>" alt="site logo image" />
            <%= organizations[organization].name %>
            <%= organizations[organization].login_url %>
          </div>
        </button>
      </form>

      <form method="GET" action="/organizations/<%= organizations[organization].organization_id %>">
        <button type="submit">Edit</button>
      </form>

      <form method="POST" action="/organizations/<%= organizations[organization].organization_id %>/delete">
        <button type="submit" class="btn btn-outline-danger">Delete</button>
      </form>
  <% } %>



    <a href = "/organizations/new"> 
      <button type="submit">Add</button>
    </a> 
    </main>


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </body>
</html>
