<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/landing.css" type="text/css" />

  <%- include('../partials/_head') %>

  <title>PasswordKeeper - Edit Organization</title>



</head>

<body>


  <main>

        <div>
          <h1><%=organization.org_name %></h1>

          <img class="logo-image" src="<%=organization.logo_url %>">

          <form method="POST" action="/organizations/<%=organization.organization_id %>">

            <div>
              <h3>Edit Organization Details</h3>
              <div class="error-container"></div>
              <label for="orgName">Organization Name
              <input type="text" name="orgName" placeholder="Organization Name">
              </label>

              <label for="logo_url">Organization Logo Image URL
              <span>(auto resize to 300 x 300)</span>
              <input type="text" name="logo_url" placeholder="http://">
              </label>

              <button type="submit" class="edit-url">Edit</button>
            </div>
          </form>

          <form method="POST" action="/organizations/<%= organization.organization_id %>?_method=PUT">
            <div>
              <h3>Add Users</h3>
              <label for="email">User Email
              <input type="email" name="email" placeholder="User Email" required>
              </label>

              <button type="submit">Add</button>
            </div>
          </form>

          <table class="table">
            <thead>
              <tr>
                <th scope="col">User ID</th>
                <th scope="col">User Name</th>
                <th scope="col">User Email</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
              <% for (const user in users) { %>
              <tr>
                  <td><%= users[user].id %></td>
                  <td><%= users[user].name %></td>
                  <td><%= users[user].email %></td>
                  <td>
                  <% if (users[user].admin_privileges !== true)  { %>
                    <form method="POST" action="/organizations/<%= organization.organization_id %>/<%= users[user].id %>/delete?_method=DELETE">
                      <button type="submit"
                      id="user-delete" class="btn btn-outline-danger">Remove</button>
                    </form>
                    <% } %>
                  </td>
              </tr>
              <% } %>
            </tbody>
          </table>

          <form method="POST" action="/organizations/<%= organization.organization_id %>/delete?_method=DELETE">
            <h3>Delete Organization</h3>
            <button type="submit">Delete</button>
          </form>
        </div>
  </main>


  <footer>
    <a href="/organizations">
      <button type="submit">My Organizations</button>
    </a>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="/scripts/about.js"></script>

</body>
</html>
