<!DOCTYPE html>
<html lang="en">
  <head>

    <%- include('../partials/_head') %>

    <title>PasswordKeeper - Organizations </title>
  </head>


<link rel="stylesheet" href="/styles/sass/navbar.css" type="text/css" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="/styles/sass/navbar.css" type="text/css" />

<script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
</head>

<body class="container">
<%- include('../partials/header') %>

    <main>
      <div class="jumbotron">
        <div class="dodo">
          <h1> My Organizations </h1>
          <span><a href = "/organizations/new">
            <button type="submit">Add</button>
          </a></span>
        </div>


        <div>
          <% for (const organization in organizations) { %>
            <form method="GET" action="/organizations/<%= organizations[organization].organization_id %>/sites">
              <button type="submit">
                <div class="site">
                  <img class="logo-image" src="<%= organizations[organization].logo_url %>" alt="organization logo image" />
                  <%= organizations[organization].name %>
                  <%= organizations[organization].login_url %>
                </div>
              </button>
            </form>
          <% if (organizations[organization].admin_privileges) { %>
            <form method="GET" action="/organizations/<%= organizations[organization].organization_id %>">
              <button type="submit">Settings</button>
            </form>
          <% } %>
        <% } %>
        </div>
      </div>


    </main>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </body>
</html>
