<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_head') %>


    <!-- Bootstrap CSS -->
    <link href="/styles/layout.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">



    <title>PasswordKeeper - Home </title>

  </head>

  <body>

  <%- include('partials/_header') %>


    <main>

      <%  let categoryIdsAndNames = {};
          let key = '';
          console.log("rendering sites.ejs...")

        for (const site in sites) {
          key = sites[site].category_id
          if (!categoryIdsAndNames.hasOwnProperty(key)){
            console.log(sites[site])
            categoryIdsAndNames[key] = sites[site].id;
          }
        }

        console.log(categoryIdsAndNames)

        for (i in categoryIdsAndNames){
          console.log(categoryIdsAndNames[i])
     %>

      <div class="category">

        <h1> Category Name <%= categoryIdsAndNames[i] %></h1>

          <div class="sites">
            <%for (const site in sites) {
              if(sites[site].category_id == i) { %>

              <div class="card text-center site-entry">
                <div class="card-header"><%= sites[site].name %></div>
                <div class="card-body">
                  <img src="<%= sites[site].image_url %>" alt="site logo image" /><br>
                  <%= sites[site].login_url %><br>
                  <div class="site-info">
                    <span>Username: <input type="text" id="<%= sites[site].username %>" size="10" value="<%= sites[site].username %>"></span>
                    <!-- The button used to copy the text -->
                    <button onclick="myFunction('<%= sites[site].username %>')"><img src="/images/clipboard-copy.webp" width="15"></button><br>
                    <span>Password: <input type="text" id="<%= sites[site].password %>" size="10" value="<%= sites[site].password %>"></span>
                    <!-- The button used to copy the text -->
                    <button onclick="myFunction('<%= sites[site].password %>')"><img src="/images/clipboard-copy.webp" width="15"></button><br>
                  </div>
                <% if (admin) { %> 
                  <div id="buttons">
                    <a href="/organization/<%= orgId %>/sites/<%= sites[site].id %>"><button class="btn btn-info" >Update</button></a>

                    <form method="POST" action="/organization/<%= orgId %>/sites/<%= sites[site].id %>/delete"><input type="submit" class="btn btn-danger" value="Delete"></form>
                    </div>
                <% } %>  
                  </div>
                  <br>

              </div>

          <%} } } %>

      </div>

      <div id="adding">

      <div class="add-new">
        <h2> Add New Site </h2>
        <form id="formAddNew" method="POST" onsubmit="return ValidationEvent()" action="/organization/<%= orgId%>/sites">
          <label for="newsite">Site name: </label><span style="visibility: hidden" id="nameError"> Must enter a name</span><br>
            <input class="form-control" type="text" name="name" placeholder="http://" style="width: 300px; margin: 1em">

          <label for="username">username: </label><span style="visibility: hidden" id="usernameError"> Must enter a username</span><br>
            <input class="form-control" type="text" name="username" placeholder="Jane Doe"  style="width: 300px; margin: 1em">

          <label for="email">email: </label><span style="visibility: hidden" id="emailError"> Must enter an email</span><br>
            <input class="form-control" type="email" name="email" placeholder="abc@example.com"  style="width: 300px; margin: 1em">

          <label for="category">category: </label><br>
          <select name="category" id="category_id" style="width: 300px; margin: 1em">
            <option value=""></option>
            <option value="1">Social Media</option>
            <option value="2">Apps</option>
            <option value="3">Software</option>
          </select><br>

          <label for="password">password: </label><span style="visibility: hidden" id=
          "passwordError"> Must enter a password</span><br>
            <input class="form-control" id="passinput" type="password" name="password" style="width: 300px; margin: 1em">

            <input type="button" class="btn btn-dark" id="showPass" value="Show Password">
          <button type="submit" class="btn btn-info">Add Site</button>
        </form>
      </div>

      <div class="add-new">
        <h2>Password Requirements</h2>
        <form id="passwordmaker">
          <input type="checkbox" name="lowercase" checked>
          <label for="lowercase"> lower case</label><br>
          <input type="checkbox" name="uppercase" checked>
          <label for="uppercase"> upper case</label><br>
          <input type="checkbox" name="numbers">
          <label for="numbers"> numbers</label><br>
          <input type="checkbox" name="symbols">
          <label for="symbols"> symbols</label><br>
          <label for="length"> length</label>
          <input type="input" name="length" value="10"><br>
          <button type="submit" value="submit" class="btn btn-warning">Suggest a password</button><br>
      </div>

      </div>
    </main>


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>




    <script type="text/javascript">
      function myFunction(element) {
        console.log("copy text")
        /* Get the text field */
        var copyText = document.getElementById(element);
        console.log(copyText)

        /* Select the text field */
        copyText.focus();
        copyText.select();
        copyText.setSelectionRange(0, 99999); /*For mobile devices*/

        /* Copy the text inside the text field */
        document.execCommand("copy");

        /* Alert the copied text */
        alert("Copied the text: " + copyText.value);
      }

      function ValidationEvent() {
        const form = document.forms["formAddNew"];
        const nameVal = document.getElementById("nameError");
        const usernameVal = document.getElementById("usernameError");
        const emailVal = document.getElementById("emailError");
        const passwordVal = document.getElementById("passwordError");
        if(!form["name"].value) {
          nameVal.style = "visibility:visibile"
          return false;
        } else {
          nameVal.style = "visibility:hidden"
        }
        if(!form["username"].value) {
          usernameVal.style = "visibility:visibile"
          return false;
        } else {
          usernameVal.style = "visibility:hidden"
        }
        if(!form["password"].value) {
          passwordVal.style = "visibility:visibile"
          return false;
        } else {
          passwordVal.style = "visibility:hidden"
        }
        if(!form["email"].value) {
          emailVal.style = "visibility:visibile"
          return false;
        } else {
          emailVal.style = "visibility:hidden"
        }
        return true;
      }


      function generatePassword(selectArray) {

      const lowerCase = "abcdefghijklmnopqrstuvwxyz"
      const upperCase = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
      const numbers = "1234567890"
      const symbols = "!@#$%^&*()_-~`+=[]{}|<>?<>?"

      const length = selectArray[4]
;
      const letters = [lowerCase, upperCase, numbers, symbols];

      let allowableChars = ""

      for (let i=0; i<selectArray.length; i++){
        if (selectArray[i]) {
          allowableChars += letters[i];
        }
      }

      let retVal = "";
      for (var i = 0, n = allowableChars.length; i < length; ++i) {
          retVal += allowableChars.charAt(Math.floor(Math.random() * n));
      }

      return retVal;
      }

      $(document).ready(function(){
        $("#passwordmaker").on("submit", function(event){
          event.preventDefault();
          const $inputs = $('#passwordmaker :input');
          outputs = [$inputs[0].checked, $inputs[1].checked, $inputs[2].checked, $inputs[3].checked, parseInt($inputs[4].value)]
          const result = generatePassword(outputs)
          console.log(result)
          $("#passinput").val(result)
        })

        $("#showPass").click(function(){
          console.log("Showpassword function")
          const x = document.getElementById("passinput");
          const y = document.getElementById("showPass");
          if (x.type === "password") {
            x.type = "text";
            y.value = "Hide Password"
          } else {
            x.type = "password";
            y.value = "Show Password"
          }
        })

      });

    </script>


    <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
