<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_head') %>

    <!-- Bootstrap CSS -->
    <link href="/styles/layout.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">



    <title>PasswordKeeper - Home </title>

  </head>

  <body>
    <header>
      <nav>
        <div>
          LOGO
        </div>

        <div class='dropdown'>
          <button>
            Categories (icon)
          </button>
          <div class='dropdown-content'>
            <a href ='#'> Cat1</a>
            <a href ='#'> Cat2</a>
            <a href ='#'> Cat3</a>
          </div>
        </div>

        <div class='nav-right'>
          <div>Favourites Icon</div>
          <div>User_Email(tempVar)</div>
          <div>
            <form method="POST" action="/logout">
              <button type="submit">Log Out</button>
            </form>
          </div>
        </div>
      </nav>

    </header>

    <main>
      <h1> Category </h1>


      <div class="sites">

        <% for (const site in sites) { %>

          <div class="card text-center site-entry">
            <div class="card-header"><%= sites[site].name %></div>
            <div class="card-body">
              <img src="<%= sites[site].image_url %>" alt="site logo image" /><br>
              <%= sites[site].name %><br>
              <%= sites[site].login_url %>
                <br>

              <a href="/organization/:organization_id/sites/<%= sites[site].name %>"><button class="btn btn-info" >Update</button></a>

              <form method="POST" action="/organization/:organization_id/sites/<%= sites[site].name %>/delete"><input type="submit" class="btn btn-danger" value="Delete"></form>
              </div>

             <div class="card-footer text-muted"></div>
          </div>


          <% } %>
        </div>

      <h2> Add New Site </h2>
      <form method="POST" action="/organization/:organization_id/sites">
        <label for="newsite">Site name: </label>
          <input class="form-control" type="text" name="name" placeholder="http://" style="width: 300px; margin: 1em">
        <label for="username">username: </label>
          <input class="form-control" type="text" name="username" placeholder="Jane Doe"  style="width: 300px; margin: 1em">
        <label for="email">email: </label>
          <input class="form-control" type="text" name="email" placeholder="abc@example.com"  style="width: 300px; margin: 1em">
        <label for="password">password: </label>
          <input class="form-control" type="password" name="password" style="width: 300px; margin: 1em">
        <label for="category">category: </label>
          <input class="form-control" type="text" name="category" style="width: 300px; margin: 1em">
        <button type="submit">Add Site</button>
      </form>

    </main>


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
